{% extends 'setup/_layouts/base-privacy.html' %}
{% load static %}

{% block title %}Política de Privacidade - {% endblock %}

{% block pixel_facebook %}{% endblock %}

{% block script_head %}{% endblock %}

{% block block_header %}{% endblock %}

{% block block_content %}
    <div class="privacy-policy">
        <h1>Política de privacidade</h1>
        <p>
            Sua privacidade é importante para nós. Esta Política de Privacidade descreve as maneiras como obtemos,
            usamos e protegemos suas informações pessoais.<br>
            Você aceita nossa política de privacidade e concorda com a coleta, armazenamento e uso de informações
            pessoais, registrando ou usando nossos produtos, serviços ou qualquer outro recurso que oferecemos ao
            acessar
            nosso site www.cafeperfeito.com.br ou qualquer outro site que tenhamos e nós operamos.<br>
            <span class="information">
                Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço.
                Fazemo-lo por meios legais e com o seu conhecimento e consentimento. Informamos também porque estamos
                obtendo as informações e como elas serão utilizadas.<br>
                Quando armazenamos dados, nós os protegemos de meios comercialmente aceitáveis para evitar perda e
                roubo, bem como acesso não autorizado, divulgação, cópia, uso ou modificação.<br>
                Você é livre para rejeitar nosso pedido de acesso a informações pessoais, entendendo que nesse caso
                alguns serviços não podem ser oferecidos por nosso site.<br>
                Caso você tenha alguma dúvida sobre como tratamos os dados do usuário e informações pessoais, entre em
                contato conosco.
            </span>
        </p>
        <h1>Quem somos?</h1>
        <p>
            Café Perfeito é uma empresa com posicionamneto de marca 360 graus.<br>
            Todo o conteúdo relacionado, incluindo sites e imagens, pertence e é operado por:<br>
            <span class="information domain" >Nome de domínio:</span>
            <a href="www.cafeperfeito.com.br" target="_blank">www.cafeperfeito.com.br</a><br>
            <span class="information label-responsavel">Responsável</span> pelo tratamento dos dados:<br>
        <ul>
            <li><span class="information responsavel">Thiago Leiros Macedo</span></li>
            <li><a href="mailto:thiago@cafeperfeito.com.br" target="_blank"
                   rel="noopener">thiago@cafeperfeito.com.br</a></li>
        </ul>
        </p>
        <h1>Como coletamos suas informações?</h1>
        <p>
            <span class="information">Quando você visita nosso site <a href="www.cafeperfeito.com.br" target="_blank">
                www.cafeperfeito.com.br</a> ou usa outro de nossos serviços, coletamos dados como o endereço IP e
                informações técnicas para acessar a web.</span><br>
            Outras maneiras de coletar suas informações são:</p>
        <ul>
            <li>Formulários de solicitações de cadastros ou inscrições para nossos serviços,</li>
            <li>Registro para baixar nosso conteúdo ou receber atualizações de nosso site,</li>
            <li>Compra de qualquer produto ou serviço.</li>
            <li>Contatos com nossa equipe de atendimento ao cliente</li>
            <li>Respostas da pesquisa</li>
        </ul>
        <p>
            E os tipos de informação que podemos coletar:</p>
        <ul>
            <li>Informações de contato como seu nome, endereço, telefone, e-mail e assim por diante.</li>
            <li>Informaçoes financeiras para compras de produtos ou serviços, como números de contas bancárias e cartão
                de crédito que você forneceu
            </li>
        </ul>
        <p>
        Para fornecer nossos produtos ou serviços, podemos solicitar informações adicionais para verificar sua
        identidade e gerenciar riscos. Podemos obter informações de você por meio de terceiros, como centros de
        prevenção de fraude de crédito.
        </p>

        <h1>Como protegemos e armazenamos informações pessoais</h1>
        <p>
            Ao longo desta política, usamos o termo "informações pessoais" para descrever informações que podem ser
            associadas a uma pessoa específica e podem ser usadas para identificar essa pessoa.<br>

            Um dado pessoal é a informação que o identifica ou o torna identificável. Através da web, nas caixas
            estabelecidas para o efeito, recolhemos os dados pessoais que o utilizador nos comunica: Nome, apelido,
            email,
            telefone, morada, localidade, etc. bem como todos os dados que nos fornecer voluntariamente através de
            qualquer
            uma das redes sociais em que o utilizador esteja registado. Nesse caso, a privacidade dependerá da
            configuração
            estabelecida pelo usuário, bem como dos termos e condições da própria rede social.<br>

            A visita do usuário à web não significa que ele tenha que fornecer qualquer informação sobre seus dados
            pessoais. No entanto, se fornecidos, os dados serão processados ​​legalmente, sempre sujeitos aos princípios
            e
            direitos estabelecidos na RGPD 2016/679 de 27 de abril de 2016 e na LOPDGDD 3/2018 de 5 de dezembro.<br>

            Não consideraremos como informações pessoais informações que devem permanecer anônimas porque não
            identificam um
            determinado usuário. Armazenamos e processamos suas informações pessoais em nossos computadores e as
            protegemos
            sob medidas físicas, eletrônicas e de proteção de processos.<br>
        </p>

        <h1>Com que finalidade processamos seus dados pessoais?</h1>
        <p>
            Quando um usuário acessa nosso site, ele está fornecendo informações pessoais como endereço IP, nome,
            e-mail,
            endereço, número de telefone e outros. Ao fornecer essas informações, o usuário autoriza
            <a href="www.cafeperfeito.com.br" target="_blank">www.cafeperfeito.com.br</a> a coletar, usar, gerenciar e
            armazenar conforme descrito nesta Política de Privacidade.<br>
            Usamos diferentes sistemas para capturar e processar informações pessoais e usamos suas informações pessoais
            para:
        <ul>
            <li>Formulários de contacto ou registo: solicitamos nome e email para gerir a nossa lista de contactos,
                envio de newsletters, promoções e ofertas. Existem vários formulários no site para ativar o registro.
                Usamos Mailchimp para armazenar a lista de contatos.
            </li>
            <li>Envie comunicações comerciais sobre os produtos e serviços de
                <a href="www.cafeperfeito.com.br" target="_blank">www.cafeperfeito.com.br</a>
                através de meios eletrónicos (newsletters, SMS, WhatsApp ou Telegram) utilizando os dados recolhidos
                através dos formulários do ponto anterior. A base para legitimar o processamento dos dados é o
                consentimento do usuário ao clicar na opção de aceitar a política de privacidade antes de receber as
                comunicações eletrônicas nos formulários de cadastro. O usuário tem o direito de revogar seu
                consentimento a qualquer momento, sem invalidar a validade do tratamento com base em seu consentimento
                anterior à retirada.
            </li>
            <li>Atenda e processe os pedidos de compras efetuados pelo usuário através dos formulários de compra.
                Coletamos e processamos os dados pessoais do usuário para processar o pedido e subsequente pagamento de
                produtos e serviços. Usamos a plataforma Hotmart para gerenciar compras e pagamentos.
            </li>
            <li> Registro como usuário registrado usando o formulário de registro no site da Hotmart assim que a compra
                for feita.
            </li>
            <li>Gerenciar nossas redes sociais e enviar informações sobre nossas atividades e produtos.</li>
        </ul>

        </p>
        <h1>Por quanto tempo mantemos seus dados?</h1>
        <p>
            Os dados pesoais fornecidos serão mantidos até que sua exclusão seja solicitada pelo interessado.
        </p>

        <h1>Marketing</h1>
        <p>
            Não vendemos ou alugamos suas informações pessoais a terceiros para fins de marketing sem o seu
            consentimento explícito. Podemos combinar suas informações com as informações que coletamos de outras
            empresas e usá-las para melhorar e personalizar nossos serviços, conteúdo e publicidade.
        </p>

        <h1> Como compartilhamos informações pessoais com outras partes</h1>
        <p>
            Podemos compartilhar suas informações pessoais com:
        <ul>
            <li>Prestadores de serviços contratados que colaboram em partes de nossas operações comerciais (prevenção de
                fraude, faturamento, marketing, serviços de tecnologia). Nossos contratos exigem que esses provedores de
                serviço usem suas informações apenas em conexão com os serviços que eles fornecem para nós, e não para
                seu próprio benefício.
            </li>
            <li>Autoridades quando houver uma obrigação legal.</li>
            <li>Outros terceiros com seu consentimento e orientação para fazê-lo.</li>
        </ul>


        <h1>Remarketing do Facebook</h1>
        <p>
            Usamos o recurso de remarketing do Facebook para veicular anúncios no Facebook. Esta função permite-nos
            identificar que visitou o nosso site e, desta forma, o Facebook pode mostrar-lhe os nossos anúncios dentro
            do Facebook. Para identificar a sua visita ao nosso site, utilizamos cookies, de forma semelhante ao que se
            afirma na secção "Como utilizamos cookies?". Se você vir um de nossos anúncios no Facebook e não quiser mais
            vê-lo, no próprio anúncio há opções para ocultar e não ver nossos anúncios no futuro.
        </p>

        <h1>Remarketing do Google</h1>
        <p>
            Usamos o recurso de remarketing do Google Ads para veicular anúncios em sites parceiros do Google. Esta
            função permite-nos identificar que visitou o nosso site e, desta forma, o Google pode mostrar-lhe o nosso
            anúncio em diferentes sites. Para identificar a sua visita ao nosso site, ambos os outros fornecedores
            terceiros, como o Google, utilizam cookies, de forma semelhante ao que consta na secção “Como utilizamos
            cookies?”. Você pode desativar o uso de cookies do Google visitando o Gerenciador de preferências de
            anúncios.
        </p>

        <p>
            Esta política entra em vigor em <strong>junho de 2021</strong>.
        </p>
    </div>

{% endblock %}
