{% extends 'adsg/_layouts/base.html' %}
{% load static %}


{% block title %}
    Café 100% arábica -
{% endblock %}

{% block meta-google %}
    <meta name="classification" content="Café arábica">
    <meta name="Description" content="Melhor café arábica">
    <meta name="Keywords" content="Café Perfeito arábica">
    <base href="https://www.cafeperfeito.com.br/adsg/cafe-arabica/">
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="Café arábica - Café Perfeito">
    <meta property="og:url" content="https://www.cafeperfeito.com.br/adsg/cafe-arabica">
    <meta property="og:description" content="Melhor café 100% arábica">
    <meta property="og:site_name" content="Café arábica - Café Perfeito">
{% endblock %}

{% block whatsapp %}{{ settings.WHATS_BUSINESS_WITHOUT_MSG }}Ol%C3%A1,%20quero%20saber%20mais%20do%20caf%C3%A9%20ar%C3%A1bica!{% endblock %}

{% block title_ads %}
    Procurando café 100% arábica?
{% endblock %}

{% block content_ads %}
    Nosso café é 100% arábica o melhor grão para você!!!<br>
    Solicite contato agora mesmo.
{% endblock %}

{% block isobs_ads %}
    {% block obs_ads %}
        {#    * voucher não cumulativo. **entrega grátis para Manaus nos pedidos acima de R$100,00.#}
    {% endblock %}
{% endblock %}

{% block block_footer %}

{% endblock %}













