{% extends 'adsg/_layouts/base.html' %}
{% load static %}


{% block title %}
    Café em grão -
{% endblock %}

{% block meta-google %}
    <meta name="classification" content="Café em grão">
    <meta name="Description" content="Melhor café em grão">
    <meta name="Keywords" content="Café Perfeito grão">
    <base href="https://www.cafeperfeito.com.br/adsg/cafe-em-grao/">
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="Café em grão - Café Perfeito">
    <meta property="og:url" content="https://www.cafeperfeito.com.br/adsg/cafe-em-grao">
    <meta property="og:description" content="Melhor café em grão para café expresso">
    <meta property="og:site_name" content="Café em grão - Café Perfeito">
{% endblock %}

{% block title_ads %}
    Procurando café em grão?
{% endblock %}

{% block content_ads %}
    Temos o melhor café em grão para você!!!<br>
    Solicite contato agora mesmo.
{% endblock %}

{% block isobs_ads %}
    {% block obs_ads %}
        {#    * voucher não cumulativo. **entrega grátis para Manaus nos pedidos acima de R$100,00.#}
    {% endblock %}
{% endblock %}

{% block block_footer %}

{% endblock %}













