{% extends 'adsg/_layouts/base.html' %}
{% load static %}


{% block title %}
    Quer café para sua cafeteira -
{% endblock %}

{% block meta-google %}
    <meta name="classification" content="Café para cafeteira">
    <meta name="Description" content="Melhor café para cafeteira">
    <meta name="Keywords" content="Café Perfeito café para cafeteira">
    <base href="https://www.cafeperfeito.com.br/adsg/cafe-cafeteira/">
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="Café para cafeteira - Café Perfeito">
    <meta property="og:url" content="https://www.cafeperfeito.com.br/adsg/cafe-cafeteira/">
    <meta property="og:description" content="Melhor café para cafeteira">
    <meta property="og:site_name" content="Café para cafeteira - Café Perfeito">
{% endblock %}

{% block title_ads %}
    Procurando café para usar na sua cafeteira?
{% endblock %}

{% block content_ads %}
    Nosso café é 100% arábica o café ideal para sua cafeteira!!!<br>
    Solicite contato agora mesmo.
{% endblock %}

{% block isobs_ads %}
    {% block obs_ads %}
        {#    * voucher não cumulativo. **entrega grátis para Manaus nos pedidos acima de R$100,00.#}
    {% endblock %}
{% endblock %}

{% block block_footer %}

{% endblock %}













