{% extends 'adsg/_layouts/base.html' %}
{% load static %}


{% block title %}
    Comprar Café Especial |
{% endblock %}

{% block meta-google %}
    <meta name="classification" content="Comprar Café Especial">
    <meta name="Description" content="Comprar Melhor Café Especial">
    <meta name="Keywords" content="Comprar Café Especial | Café Perfeito">
    <base href="https://www.cafeperfeito.com.br/adsg/comprar-cafe-especial/">
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="Comprar Café Especial | Café Perfeito">
    <meta property="og:url" content="https://www.cafeperfeito.com.br/adsg/comprar-cafe-especial">
    <meta property="og:description" content="Compre o Melhor Café Especial">
    <meta property="og:site_name" content="Café Especial | Café Perfeito">
{% endblock %}

{% block title_ads %}
    Quer comprar "o café" especial?
{% endblock %}

{% block content_ads %}
    Temos "o café" especial, selecionado para você!!!<br>
    Preencha o formulário que entraremos em contato em até 2h.
{% endblock %}

{% block isobs_ads %}
    {% block obs_ads %}
        {#    * voucher não cumulativo. **entrega grátis para Manaus nos pedidos acima de R$100,00.#}
    {% endblock %}
{% endblock %}

{% block block_footer %}

{% endblock %}













