{% extends 'adsg/_layouts/base.html' %}
{% load static %}


{% block title %}
    Comprar Café Torrado Em Grão |
{% endblock %}

{% block meta-google %}
    <meta name="classification" content="Comprar Café Torrado Em Grão">
    <meta name="Description" content="Comprar Melhor Café Torrado Em Grão">
    <meta name="Keywords" content="Comprar Café Torrado Em Grão | Café Perfeito">
    <base href="https://www.cafeperfeito.com.br/adsg/comprar-cafe-torrado-grao/">
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="Comprar Café Torrado Em Grão | Café Perfeito">
    <meta property="og:url" content="https://www.cafeperfeito.com.br/adsg/comprar-cafe-torrado-grao">
    <meta property="og:description" content="Compre o Melhor Café Torrado Em Grão">
    <meta property="og:site_name" content="Café Torrado Em Grão | Café Perfeito">
{% endblock %}

{% block title_ads %}
    Quer comprar café torrado em grão?
{% endblock %}

{% block content_ads %}
    Temos o melhor café torrado em grão para você!!!<br>
    Preencha o formulário que entraremos em contato em até 2h.
{% endblock %}

{% block isobs_ads %}
    {% block obs_ads %}
        {#    * voucher não cumulativo. **entrega grátis para Manaus nos pedidos acima de R$100,00.#}
    {% endblock %}
{% endblock %}

{% block block_footer %}

{% endblock %}













