{% extends 'adsg/_layouts/base.html' %}
{% load static %}


{% block title %}
    Comprar Café Em Grão Online |
{% endblock %}

{% block meta-google %}
    <meta name="classification" content="Comprar Café Em Grão Online">
    <meta name="Description" content="Comprar Melhor Café Em Grão Online">
    <meta name="Keywords" content="Comprar Café Em Grão Online | Café Perfeito">
    <base href="https://www.cafeperfeito.com.br/adsg/comprar-cafe-grao-online/">
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="Comprar Café Em Grão Online | Café Perfeito">
    <meta property="og:url" content="https://www.cafeperfeito.com.br/adsg/comprar-cafe-grao-online">
    <meta property="og:description" content="Compre o Melhor Café Em Grão Online">
    <meta property="og:site_name" content="Café Em Grão Online | Café Perfeito">
{% endblock %}

{% block title_ads %}
    Quer comprar café em grão online?
{% endblock %}

{% block content_ads %}
    Temos o que você precisa!!!<br>
    Preencha o formulário que entraremos em contato em até 2h.
{% endblock %}

{% block isobs_ads %}
    {% block obs_ads %}
        {#    * voucher não cumulativo. **entrega grátis para Manaus nos pedidos acima de R$100,00.#}
    {% endblock %}
{% endblock %}

{% block block_footer %}

{% endblock %}













