{% extends 'adsg/_layouts/base.html' %}
{% load static %}


{% block title %}
    Comprar Café Para Expresso |
{% endblock %}

{% block meta-google %}
    <meta name="classification" content="Comprar Café Para Expresso">
    <meta name="Description" content="Comprar Melhor Café Para Expresso">
    <meta name="Keywords" content="Comprar Café  Para Expresso | Café Perfeito">
    <base href="https://www.cafeperfeito.com.br/adsg/comprar-cafe-para-expresso/">
{% endblock %}

{% block meta-og %}
    <meta property="og:title" content="Comprar Café Para Expresso | Café Perfeito">
    <meta property="og:url" content="https://www.cafeperfeito.com.br/adsg/comprar-cafe-para-expresso">
    <meta property="og:description" content="Compre o Melhor Café Para Expresso">
    <meta property="og:site_name" content="Café Para Expresso | Café Perfeito">
{% endblock %}

{% block title_ads %}
    Quer comprar café para expresso?
{% endblock %}

{% block content_ads %}
    Temos o café para fazer expresso que você merece!!!<br>
    Preencha o formulário que entraremos em contato em até 2h.
{% endblock %}

{% block isobs_ads %}
    {% block obs_ads %}
        {#    * voucher não cumulativo. **entrega grátis para Manaus nos pedidos acima de R$100,00.#}
    {% endblock %}
{% endblock %}

{% block block_footer %}

{% endblock %}













