//* {
//    border: 1px solid #c12222;
//}

body {
  background-color: white;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  transition: all 0.5s;
}

.backgroun-escuro-transparente {
  //background: rgba(20, 2, 0, 0.3);
}

.header {
  position: absolute;
  width: 100%;
  padding: 20px 10px 0px 0px;
  margin: 0px;
  background: rgba(20, 2, 0, 0.3);

  img {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 35%;
    width: 30%;

  }

  .texto {
    padding-right: 15px;

    .txt1, .txt2 {
      text-align: right;
      z-index: 99;
      margin-top: 0;
      margin-bottom: 0;

      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

}

form {
  div {
    margin-bottom: 10px;

    a {
      color: #c3dbff;
      //text-decoration: none;
    }
  }

  button {
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 3px;
    color: #fff;
    -webkit-appearance: button;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    padding: 10px 25px;
  }

  .btn-lead {
    background-color: #ab3d3a;
    width: 100%;
  }
}

.banner-area {
  //background: $main-banner;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
}
