$cafe-perfeito-black-1: url(../images/sistema/cafe-perfeito-black_1.jpg);
$cafe-perfeito-black-2: url(../images/sistema/cafe-perfeito-black_2.jpg);
$cafe-perfeito-black-3: url(../images/sistema/cafe-perfeito-black_3.jpg);
$cafe-perfeito-black-4: url(../images/sistema/cafe-perfeito-black_4.jpg);
$cafe-perfeito-white-1: url(../images/sistema/cafe-perfeito-white_1.jpg);
$cafe-perfeito-white-2: url(../images/sistema/cafe-perfeito-white_2.jpg);
$cafe-perfeito-white-3: url(../images/sistema/cafe-perfeito-white_3.jpg);
$cafe-perfeito-white-4: url(../images/sistema/cafe-perfeito-white_4.jpg);
$main-banner: url(../images/bg-cafe-side.jpg);

$bg-login: url(../../setup/images/bg-cafe-caindo-2.png);
$bg-login-color-01: #c0ccce;

$login-logo-height: 170px;