<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body marginwidth="0" marginheight="0" class="vsc-initialized in-editor" data-widget="arena" data-variant-id="0" id="body-lmtl6hj" data-uid="body-lmtl6hj" data-draggable="false" data-viewing-mode="desktop">
    <section data-section="section" id="section-n53uyd1" data-uid="section-n53uyd1" class="" data-draggable="true">
        <div data-section="wrap" data-reverse="true">
            <div data-editable="multimedia:image" id="edi-s7zw9xa" data-uid="edi-s7zw9xa" class="" data-draggable="true" style="background: none;">
                <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_02.png" alt="/" width="146" height="40">
            </div>
        </div>
    </section>
    <section data-section="section" id="section-267" data-uid="section-267" class="" data-draggable="true">
        <div data-section="wrap" data-reverse="true">
            <div data-editable="webformNew" data-label-type="placeholder" id="edi-k2hiit1" data-uid="edi-k2hiit1" class="" data-draggable="true" data-blockeddrop="all" data-height-setting="56">
                <form class="custom-form" action="" accept-charset="utf-8" method="post">
                    <div data-editable="webformNewItem" data-item-type="webform_text" data-item-name="email" data-item-label="Email address" id="edi-2ljrub3" data-uid="edi-2ljrub3" class="" data-draggable="true">
                        <div data-editable-item="label" id="webform_label-xri2xbh" data-uid="webform_label-xri2xbh" class="">
                            <label for="not_webform_label-xri2xbh-for">Email address</label>
                        </div>
                        <div data-editable-item="field" id="webform_text-hjwi1lj" data-uid="webform_text-hjwi1lj" class="">
                            <input disabled="" type="email" name="email" autocomplete="off" id="webform_label-xri2xbh-for" data-is-custom="false">
                            <div class="ff-dbl-click-field" data-name="ff-dbl-click">
                            </div>
                        </div>
                    </div>
                    <div data-editable="webformNewButton" data-caption="Sign up!" id="edi-zi2e1so" data-uid="edi-zi2e1so" class="" data-draggable="true" data-ats-form-button="submit">
                        <button type="submit" value="Sign up!">Sign up!</button>
                    </div>
                </form>
            </div>
            <div data-editable="text" id="edi-12udszu" data-uid="edi-12udszu" class="" data-draggable="true">
                <div style="font-family: Georgia, serif; font-size:16px; font-weight: 700; line-height:1.3; color: #ffffff;" class="text-content">
                    Making access to care available to all.
                </div>
            </div>
            <div data-editable="text" id="edi-znjch8v" data-uid="edi-znjch8v" class="" data-draggable="true">
                <div style="font-family: Georgia, serif; font-size:16px; font-weight: 700; line-height:1.3; color: #ffffff;" class="text-content">
                    Being a member of our movement pledges your dedication to our work and mission.
                </div>
            </div>
            <div data-editable="text" id="edi-230x4h8" data-uid="edi-230x4h8" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:60px; font-weight: 900; line-height:1.1; color: #ffffff;" class="text-content">
                    JOIN OUR FOUNDATION, AND MAKE YOUR MARK.
                </div>
            </div>
        </div>
    </section>
    <section data-section="section" id="section-lsr0hud" data-uid="section-lsr0hud" class="" data-draggable="true">
        <div data-section="wrap" data-reverse="true">
            <div data-editable="box" data-reverse="true" id="edi-btxgrd9" data-uid="edi-btxgrd9" class="" data-draggable="true">
                <div data-editable="text" id="edi-v871phq" data-uid="edi-v871phq" class="" data-draggable="true">
                    <div style="font-family: Georgia,serif; font-size:23px; font-weight: 400; line-height:1.4; color: #ffffff;" class="text-content">
                        Membership card for local discounts
                    </div>
                </div>
                <div data-editable="multimedia:image" id="edi-4thksm6" data-uid="edi-4thksm6" class="" data-draggable="true" style="background: none;">
                    <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_05.png" alt="/" width="64" height="64">
                </div>
            </div>
            <div data-editable="box" data-reverse="true" id="edi-j1p3azq" data-uid="edi-j1p3azq" class="" data-draggable="true">
                <div data-editable="text" id="edi-kk48xm9" data-uid="edi-kk48xm9" class="" data-draggable="true">
                    <div style="font-family: Georgia,serif; font-size:23px; font-weight: 400; line-height:1.4; color: #ffffff;" class="text-content">
                        Invitations to fundraising events
                    </div>
                </div>
                <div data-editable="multimedia:image" id="edi-rfdcidf" data-uid="edi-rfdcidf" class="" data-draggable="true" style="background: none;">
                    <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_04.png" alt="/" width="61" height="64">
                </div>
            </div>
            <div data-editable="box" data-reverse="true" id="edi-viwc6dj" data-uid="edi-viwc6dj" class="" data-draggable="true">
                <div data-editable="text" id="edi-6ej2ssb" data-uid="edi-6ej2ssb" class="" data-draggable="true">
                    <div style="font-family: Georgia,serif; font-size:23px; font-weight: 400; line-height:1.4; color: #ffffff;" class="text-content">
                        Monthly reports on our ongoing endeavors
                    </div>
                </div>
                <div data-editable="multimedia:image" id="edi-6cje57t" data-uid="edi-6cje57t" class="" data-draggable="true" style="background: none;">
                    <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_03.png" alt="/" width="67" height="68">
                </div>
            </div>
            <div data-editable="text" id="edi-t3u2klc" data-uid="edi-t3u2klc" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:40px; font-weight: 900; line-height:1.1; color: #ffffff;" class="text-content">
                    AS A MEMBER YOU'LL RECEIVE:
                </div>
            </div>
        </div>
    </section>
    <section data-section="section" id="section-amocor2" data-uid="section-amocor2" class="" data-draggable="true">
        <div data-section="wrap" data-reverse="true">
            <div data-editable="text" id="edi-h0gg4f4" data-uid="edi-h0gg4f4" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:14px; font-weight: 700; line-height:1.1; color: #ffffff;" class="text-content">
                    William H.
                </div>
            </div>
            <div data-editable="shapes:line" data-type="hline" id="edi-som2bzh" data-uid="edi-som2bzh" class="" data-draggable="true" style="height: auto;">
                <div class="inner-line">
                </div>
            </div>
            <div data-editable="text" id="edi-q9iksvi" data-uid="edi-q9iksvi" class="" data-draggable="true">
                <div style="font-family: Georgia,serif; font-size:23px; font-weight: 400; line-height:1.4; color: #ffffff;" class="text-content">
                    Volunteer hours and community building are the core of this foundation, and I’m happy to be a part of it.
                </div>
            </div>
            <div data-editable="multimedia:image" id="edi-42690ea" data-uid="edi-42690ea" class="" data-draggable="true" style="background: none;">
                <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_08.png" alt="/" width="78" height="78">
            </div>
            <div data-editable="text" id="edi-a7vef9h" data-uid="edi-a7vef9h" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:14px; font-weight: 700; line-height:1.1; color: #ffffff;" class="text-content">
                    Katie D.
                </div>
            </div>
            <div data-editable="shapes:line" data-type="hline" id="edi-ml72rqk" data-uid="edi-ml72rqk" class="" data-draggable="true" style="height: auto;">
                <div class="inner-line">
                </div>
            </div>
            <div data-editable="text" id="edi-hqb6bgh" data-uid="edi-hqb6bgh" class="" data-draggable="true">
                <div style="font-family: Georgia,serif; font-size:23px; font-weight: 400; line-height:1.4; color: #ffffff;" class="text-content">
                    I feel proud to be a part of the community giving back to those less fortunate.
                </div>
            </div>
            <div data-editable="multimedia:image" id="edi-ee35n4n" data-uid="edi-ee35n4n" class="" data-draggable="true" style="background: none;">
                <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_07.png" alt="/" width="78" height="78">
            </div>
            <div data-editable="text" id="edi-qvbji6e" data-uid="edi-qvbji6e" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:14px; font-weight: 700; line-height:1.1; color: #ffffff;" class="text-content">
                    Jack C.
                </div>
            </div>
            <div data-editable="shapes:line" data-type="hline" id="edi-rnsv6g8" data-uid="edi-rnsv6g8" class="" data-draggable="true" style="height: auto;">
                <div class="inner-line">
                </div>
            </div>
            <div data-editable="text" id="edi-rwm1ide" data-uid="edi-rwm1ide" class="" data-draggable="true">
                <div style="font-family: Georgia,serif; font-size:23px; font-weight: 400; line-height:1.4; color: #ffffff;" class="text-content">
                    My work with the foundation has given me a sense of pride and purpose.
                </div>
            </div>
            <div data-editable="multimedia:image" id="edi-bx438p5" data-uid="edi-bx438p5" class="" data-draggable="true" style="background: none;">
                <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_06.png" alt="/" width="78" height="78">
            </div>
            <div data-editable="text" id="edi-9p7bz2w" data-uid="edi-9p7bz2w" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:40px; font-weight: 900; line-height:1.1; color: #ffffff;" class="text-content">
                    WHAT OUR CURRENT MEMBERS HAVE TO SAY
                </div>
            </div>
        </div>
    </section>
    <section data-section="section" id="section-vrkd6d1" data-uid="section-vrkd6d1" class="" data-draggable="true">
        <div data-section="wrap" data-reverse="true">
            <div data-editable="text" id="edi-k1xv1ei" data-uid="edi-k1xv1ei" class="" data-draggable="true">
                <div style="font-family: Georgia,serif; font-size:16px; font-weight: 400; line-height:1.3; color: #ffffff; text-align: center;" class="text-content">
                    Learn other ways to
                    <a href="" style="color: #29b6f6; text-decoration: none;">work with us</a>.
                </div>
            </div>
            <div data-editable="text" id="edi-l46l8nb" data-uid="edi-l46l8nb" class="" data-draggable="true">
                <div style="font-family: Georgia,serif; font-size:16px; font-weight: 400; line-height:1.3; color: #ffffff; text-align: center;" class="text-content">
                    We’ll send you an email confirming your membership, and a survey to provide the rest of your personal membership details.
                </div>
            </div>
            <div data-editable="button" id="edi-jotfbza" data-uid="edi-jotfbza" class="" data-draggable="true" data-initialized="true">
                <a href="#section-267" data-url="#section-267" title=""></a>
                <button type="button">
                  <div>JOIN NOW</div>
                </button>
            </div>
            <div data-editable="text" id="edi-gav37f3" data-uid="edi-gav37f3" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:40px; font-weight: 900; line-height:1.3; color: #ffffff; text-align: center;" class="text-content">
                    READY TO TAKE THE PLUNGE?
                </div>
            </div>
        </div>
    </section>
    <section data-section="section" id="section-nyh6eyk" data-uid="section-nyh6eyk" class="" data-draggable="true">
        <div data-section="wrap" data-reverse="true">
            <div data-editable="text" id="edi-270u0l3" data-uid="edi-270u0l3" class="" data-draggable="true">
                <div style="font-family: 'Roboto', sans-serif; font-size:12px; font-weight: 400; line-height:1.4; color: #ffffff; text-align: right;" class="text-content">
                    <a href="" style="color: #29b6f6; text-decoration: none;">www.nonprofitorganization.com</a>
                    <br>1-800-DONATE
                </div>
            </div>
            <div data-editable="multimedia:image" id="edi-s8b6g0u" data-uid="edi-s8b6g0u" class="" data-draggable="true" style="background: none;">
                <img src="https://app.getresponse.com/images/common/templates/landing/267/1/img/267_09.png" alt="/" width="101" height="28">
            </div>
        </div>
    </section>
</body>
</body>
</html>